# My First Jupyter Notebook
The goal of this exercise is to get acquainted with Jupyter Notebooks.

## 1. Run a Code Cell 
Code cells allow you to run Python code. Running (press the play button) the cell below prints a message to the screen.

In [4]:
print("Hello, Jupyter!")

Hello, Jupyter!

## 2. Markdown Heading
**Markdown cells** allow you to add formatted text, titles, lists, and explanations. They are essential for documenting your work. Write some text in the cell below and format it as markdown. You can find more information about markdown, for example, here: https://www.markdownguide.org/basic-syntax/

## 3. Basic Python Operations 
Now we perform simple arithmetic. Try modifying the values to explore how Python handles numbers.

In [8]:
a = 1
b = 1
print(a + b)
print(a * b)
print(a / b)

2
1
1.0

## 4. Importing Libraries
Python has many builtâ€‘in libraries. Here we import the `math` library and use some of its functions.  
Calculate the square root of 144 using the math library.

In [9]:
import math

#add your code here

## 5. Intro to Pandas 
Pandas is a powerful library for working with **tabular data**, like data that is stored in excel or csv files.  
Execute the following code to import the library and create a DataFrame. A DataFrame is like a spreadsheet inside Python.

In [ ]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'age': [20, 22, 19, 21],
    'grade': [9.1, 7.8, 8.5, 9.3]
}

df = pd.DataFrame(data)

      name  age  grade
0    Alice   20    9.1
1      Bob   22    7.8
2  Charlie   19    8.5
3    Diana   21    9.3

Now have a look at the table. You can simply do so in jupyter by typing the variable name (df) and executing the code

Filter the table to show only students with a grade above 8.

In [ ]:
# Filter students with grade > 8
goede_studenten = []

for i in range (len(df)):
    if df["grade"][i] > 8:
        goede_studenten.append(df["name"][i])
        
print(goede_studenten)

['Alice', 'Charlie', 'Diana']